<div class="navbar-inner">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= QuickbaseSync::NAME %>
    </a>
    <ul class="nav navbar-nav">
      <% QuickbaseSync::Web.default_tabs.each do |title, url| %>
        <% if url == '' %>
          <li class="<%= current_path == url ? 'active' : '' %>">
            <a href="<%= root_path %><%= url %>"><%= title %></a>
          </li>
        <% else %>
          <li class="<%= current_path.start_with?(url) ? 'active' : '' %>">
            <a href="<%= root_path %><%= url %>"><%= title %></a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
