<!doctype html>
<html>
  <head>
    <title><%= Broker::NAME %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="<%= root_path %>stylesheets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="<%= root_path %>stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="<%= root_path %>javascripts/application.js"></script>
  </head>
  <body class="admin">
    <div class="navbar navbar-default navbar-fixed-top">
      <%= erb :_nav %>
    </div>

    <div id="page">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 summary_bar">
            <!-- <ul class="list-unstyled summary row">
				<li class="processed col-sm-2">
					<span class="count"></span>
					<span class="desc"></span>
				</li>
			</ul> -->
          </div>

          <div class="col-sm-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <div class="navbar navbar-fixed-bottom navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            <li>
              <p class="navbar-text" style="color:white;">Broker v<%= Broker::VERSION %></p>
            </li>
            <li>
              <p class="navbar-text">Queue: <%= Broker.queue %></p>
            </li>
            <li>
              <p class="navbar-text"><%= 'Time' %>: <%= Time.now.localtime.strftime('%H:%M:%S CST') %></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
